.nav {
    display: flex;
    /* position: fixed; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    /* opacity: 0.7; */
    backdrop-filter: blur(2px);
    height: 60px;
    color: #000000;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    /* z-index: 1; */
}

.AppName {
    margin-left: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listBox {
    display: flex;
    gap: 35px;
    margin-right: 40px;
    list-style: none;
}

.links {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1px;
}

.links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}