* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.bulb {
    position: absolute;
    display: inline-block;
    z-index: -1;
    width: 80em;
    right: -25em;
    transform: rotate(260deg);
    bottom: -32em;
    height: 50em;
    background-image: url('../img/blobanimation.svg');
    background-size: cover;
}

.bulb5 {
    position: absolute;
    display: inline-block;
    z-index: -1;
    width: 80em;
    right: 25em;
    transform: rotate(90deg);
    bottom: -50em;
    height: 50em;
    background-image: url('../img/blobanimation.svg');
    background-size: cover;
}

.bulb2 {
    position: absolute;
    display: inline-block;
    z-index: -1;
    width: 50em;
    right: -25em;
    transform: rotate(140deg);
    bottom: 30em;
    height: 50em;
    background-image: url('../img/blob\ \(1\).svg');
    background-size: cover;
}

.bulb3 {
    position: absolute;
    /* position: fixed; */
    z-index: -1;
    width: 45em;
    height: 50em;
    background-image: url('../img/blob\ \(1\).svg');
    background-size: cover;
    background-position: top left;
    margin-left: -300px;
    margin-top: -350px;
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 10px;
}

.homeContainer h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.homeContainer p {
    font-size: 20px;
}

.log {
    border: 1px solid black;
    border-radius: 15%;
    padding: 10px;
    width: 10em;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .bulb,
    .bulb3 {
        display: none;
    }
}