* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.searchForm input {
    outline: none;
    width: 60%;
    font-size: 18px;
    padding-left: 8px;
}

.searchForm button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    padding: 5px;
    background-color: rgb(65, 44, 16);
}

.formSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-family: 'Dosis', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;


    margin-top: 5px;


}

/* .displayNoneNum {
    display: none;
} */