* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-grow: 2;
    margin: 1em;
}

.searchForm input {
    outline: none;
    width: 60%;
    font-size: 18px;
    padding-left: 8px;
    opacity: .8;
}

.searchForm button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    padding: 5px;
    background-color: rgb(241, 239, 239);
}

.searchForm button:hover {
    background-color: transparent;
}

.formSection {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.title {
    font-family: 'Dosis', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

body {
    width: 100%;
}

.red {
    background-color: transparent;
    color: #C3272B;
    border: solid 2px #C3272B;
}

.red:hover {
    background-color: #C3272B;
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;
}

.sendMessageBtn {
    background-color: transparent;
    border: solid 2px rgb(40, 40, 153);
    color: rgb(40, 40, 153);
    border-radius: 50px;
}

.sendMessageBtn:hover {
    background-color: rgb(40, 40, 153);
    color: white;
}