* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.postCard {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.subHeader {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.subHeader button {
    background-color: white;
    opacity: .8;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subHeader button:hover {
    background-color: #eaece4;
}

.postCardContent {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 30em;
    height: 210px;
}

.messagesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

.title {
    text-align: center;
    margin: 2em;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 3vw;
    text-transform: uppercase;
}

.infoSection h1 {
    text-align: center;
    padding-bottom: 35px;
    margin: 10px;
}

.icon h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.icon {
    padding: 15px;
    background-color: #F2F4F8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.infoSection {
    padding: 40px;
    background: linear-gradient(to left, white 50%, #F2F4F8 50%) right;
    opacity: .8;
    background-size: 200%;
    transition: .5s ease-out;
}

.infoSection h1 {
    margin-top: -10px;
}

.subHeader button {
    font-size: 16px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.subHeader button:hover {
    background-color: transparent;
    border: none;
}

.infoSection:hover {
    background-position: left;
    opacity: 1;
}